.about{
    margin: 100px auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
}

.about-right{
    flex-basis: 40%;
}

.about-left{
    flex-basis: 56%;
}

.about-img{
    width: 100%;
    border-radius: 10px;
}

.about h2{
    font-weight: 650;
    font-size: 30px;
    color: #14183c;

}
.about p{
    color: #656262;
    margin-bottom: 15px;
}